.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #4d636f;
  width: 100%;
  font-size: 18px;
}

.img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  float: left;
}

.userButton {
  cursor: pointer;
  color: white;
}

.userButton:hover {
  background-color: white;
  color: black;
}

.bars {
  display: none;
}
